<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416007814788-rshvb98g8818hnig7naoul5q3oc2mkqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416007814788-rshvb98g8818hnig7naoul5q3oc2mkqr</string>
	<key>API_KEY</key>
	<string>AIzaSyDnQ80zjLzYm7xoDJ2vZVc_SwE5Mokfggw</string>
	<key>GCM_SENDER_ID</key>
	<string>416007814788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>basestructure.app</string>
	<key>PROJECT_ID</key>
	<string>basestructure-96a76</string>
	<key>STORAGE_BUCKET</key>
	<string>basestructure-96a76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416007814788:ios:b5f7fd82103642550dccd1</string>
</dict>
</plist>